body {
	#adminmenumain {
		display: none !important;
	}
	#wpbody {
		display: flex;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
	#wpfooter {
		display: none;
	}

	#wpcontent {
		#wpretail-wrapper {
			background: #fff;
			color: #444;
			cursor: default;
			z-index: 100099;
			display: flex;
			box-sizing: border-box;
		}

	}
}
